body {
  background-color: #000;
  color: #e0e0e0;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand,
.main-header h1 {
  color: #39ff14 !important;
  font-weight: bold;
  text-shadow: #39ff14 0px 0px 10px;
}


.btn-primary, .btn-success,.btn-outline-light {
  background-color: #39ff14;
  border: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-primary:hover, .btn-outline-light:hover {
  background-color: #37ff146c;
  color: #fff;
  transform: scale(1.05);
}

.card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #e0e0e0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer {
  background-color: #000;
  color: #333;
  text-align: center;
}