.navbar {
  box-shadow: 0 0 15px rgba(30, 144, 255);
}

.nav-link {
  color: #ffffff;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(30, 144, 255, 0.6);
  background-color: #1f1d1e;
}

#userform {
  color: #ffffff;
}

#userform .form-control {
  background-color: #2a2a2a;
  border: none;
  color: #ffffff;
}

#userform .form-control:focus {
  background-color: #333;
  color: #ffffff;
  box-shadow: 0 0 5px #1e90ff;
}

#userform button {
  background-color: #1e90ff;
  border: none;
  padding: 0.75rem;
  font-weight: bold;
}

#userform button:hover {
  background-color: #187bcd;
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
    padding: 1.5rem;
  }
}
